<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">Unit Converter</div>
        <div>
            <a href="{{ url_for('get_length_converter') }}">Length</a>
            <a href="{{ url_for('get_temperature_converter') }}">Temperature</a>
            <a href="{{ url_for('get_weight_converter') }}">Weight</a>
        </div>
    </div>
    {% block content %}

    {% endblock content %}
</body>

</html>