{% extends 'base.html' %}

{% block title %}Weight converter{% endblock %}

{% block content %}
<h1>Weight converter</h1>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.value.label }}
    {{ form.value }} <br>
    {% for error in form.value.errors %}
        <span style="color: red;">[{{ error }}]</span> <br>
    {% endfor %}
    {{ form.input_measure.label }}
    <!-- Create list of weight unit type -->
    {{ form.input_measure }}
    {{ form.output_measure.label }}
    {{ form.output_measure }}

    {{ form.submit }} <br>
    <label for="rounding">
        Round to
        {{ form.rounding }}
        decimal places
    </label>
</form>

{% if result is not none %}
<h2>Converted Value: {{ result }}</h2>
{% endif %}

{% endblock %}